In [1]:
# We use backslash for multiple line 
# Procedures does not return but method does

In [3]:
# We can use method as a variable 
def double(x):
    return x*2

In [10]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
print(x)

2

# LAMBDA FUNCTIONS

In [91]:
x = lambda list1 : list1[::-1]
y = x([1,2,3,4,5])
print(y)

[5, 4, 3, 2, 1]

# Default Arguments

In [93]:
def my_print(a = "Give me some input"):
    return a

In [95]:
print(my_print())
print(my_print("Hello"))

Give me some input
Hello

# STRINGS

In [98]:
a = "\t"
print(len(a))

1

In [100]:
a = "\c"           #\c does not exist in python
print(len(a))

2

In [102]:
a = "\\\\"
print(len(a))           #\\ is escape sequence in python

2

In [174]:
#Raw string ----> print as it is 
d = r'\\'
print(len(d))
print(d)
d

2
\\

'\\\\'

# LIST

In [109]:
#Array always have homogenous data but list can contaic hetrogenous type of data
integer_list = [1,2,3,4]
hetrogenous_list = ["String",0.1,2]
list1 = [integer_list,hetrogenous_list,[]]
print(len(list1))
print(len(integer_list))

3
4

In [111]:
print(sum(integer_list))

10

In [113]:
print(sorted(integer_list))    #sorted is a generel method

[1, 2, 3, 4]

In [115]:
print(min(integer_list))

1

In [118]:
print(max(integer_list))

4

In [124]:
integer_list.sort(reverse = True)      #sort doesnot return anything it is a method of list
print(integer_list)

[4, 3, 2, 1]

In [127]:
print(1 in [1,2,3])

True

In [129]:
print(0 in [1,2,3])

False

In [131]:
x = "Hello"
y = "Hello"
print(x is y)    #String is a value type so thats why it goes into stack

True

In [138]:
x = [1,2,3]
y = [1,2,3]      #list is reference type and it's data is in heap but its reference is in stack so when matching it gives false
print(x is y)                 #bcz it matches address not actual data
x = y
print(x is y)   #Ab x ka bhi address y ka hogaya he

False
True

In [141]:
a,_,c = x
print('a',a)
print('c',c)

a 1
c 3

In [142]:
'''Unpacking of list'''
x,y,z = [1,2,3]
print(x)
print(y)
print(z)

1
2
3

In [145]:
'''Tupple'''
#agr ksi method se 2 values return karani he tou aap tuple return karate ho 
def sum_and_product(x,y):
    return (x+y),(x*y)

sp  = sum_and_product(2,3)
s,p = sp
print(s)
print(p)

5
6

In [147]:
'''One line swapping'''
a=1
b=2
a,b = b,a
print(a)
print(b)

2
1

In [150]:
'''By alien method'''
a = 1 
b = 2
a = a+b
b = a-b
a = a-b
print(a,b)

2 1

In [152]:
'''By Temporary variable'''
a =1 
b = 2
t =a 
a =b
b =t
print(a)
print(b)

2
1

In [154]:
'''By XOR Variable'''
x = 1
y = 2
x = x^y
y = x^y
x = x^y
print(x,y)

2 1

# DICTIONARIES

In [167]:
from collections import defaultdict
x = defaultdict(int)
print(x.keys())    #If we want to access the dict key and if it is not available then it will be automatially created
print(x['asad'])   #But in normal dictionaries it will give error
print(x.keys())
x['ali'] = 100
print(x)

dict_keys([])
0
dict_keys(['asad'])
defaultdict(<class 'int'>, {'asad': 0, 'ali': 100})

In [172]:
'''Default dictionaries of string'''
s = defaultdict(str)
print(s['apple'])
print(s)

defaultdict(<class 'str'>, {'apple': ''})

# COUNTER

In [179]:
import pandas as pd
path =pd.read_excel(r'C:\Users\HP\Desktop\R.S TEXTILE 1 JAN---25-MARCH-2019.xlsx')

In [182]:
path

                   Date        Trans No Type  Debit Amt  Credit Amt    Balance
0   2019-01-01 00:00:00             O/B   SJ  2505242.0         NaN  2505242.0
1   2019-02-01 00:00:00  40/Sale Return   SJ        NaN     48397.0  2456845.0
2               18/1/19              17  CRJ        NaN    700000.0  1756845.0
3               28/1/19              19   SJ    11250.0         NaN  1768095.0
4               29/1/19              19  CRJ        NaN    825000.0   943095.0
5   2019-09-02 00:00:00  51/SALE-RETURN   SJ        NaN     11250.0   931845.0
6               13/2/19              32  CRJ        NaN    115000.0   816845.0
7               15/2/19              39  CRJ        NaN     45000.0   771845.0
8               16/2/19              41  CRJ        NaN     48000.0   723845.0
9               14/3/19         13-3/19  CRJ        NaN    250000.0   473845.0
10                  NaN             NaN  NaN        NaN         NaN        NaN
11                  NaN             NaN  NaN  2516492.0   2042647.0   473845.0

In [191]:
'''Counter'''
from collections import Counter
x = "Hello World"
c = Counter(x)
print(c)
print(c.most_common())

Counter({'l': 3, 'o': 2, 'H': 1, 'e': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1})
[('l', 3), ('o', 2), ('H', 1), ('e', 1), (' ', 1), ('W', 1), ('r', 1), ('d', 1)]

# SET

In [197]:
'''Set cannot have repeated values'''
s = set()
s.add(2)
s.add(2)
s.add(3)
print(len(s))
print(s)

2
{2, 3}

# TRUTHENESS

In [199]:
if "":
    print("if")
else:
    print("Else")

Else

In [201]:
if [""]:
    print("if")
else:
    print("Else")

if

In [203]:
if 0.0:
    print("if")
else:
    print("Else")

Else

In [206]:
if "0":
     print("if")
else:
    print("Else")

if

In [208]:
if True:
     print("if")
else:
    print("Else")

if

In [210]:
if False:
     print("if")
else:
    print("Else")

Else

# SORTING

In [219]:
x = [4,1,2,3,6]
y = sorted(x,key = abs , reverse = True)    # y is changed but x remains sames and abs is applying on each value
print(y)                                    # Answer postive me nhi aega comparison ke waqt abs apply karke compare karega
y = sorted(x,reverse = False)
print(y)
print(x)

[6, 4, 3, 2, 1]
[1, 2, 3, 4, 6]
[4, 1, 2, 3, 6]

In [230]:
print(c.items())
sorted(c.items(), key = lambda word,count : count, reverse = True )    #masla tha kuch or

dict_items([('H', 1), ('e', 1), ('l', 3), ('o', 2), (' ', 1), ('W', 1), ('r', 1), ('d', 1)])

TypeError: <lambda>() missing 1 required positional argument: 'count'

# LIST COMPREHENSION

In [236]:
'''To generate list through single line expression'''
#First we specify what will be the numbers and then we will specify what would be the conditions 
even_numbers = [x for x in range(10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [237]:
odd_numbers = [x for x in range(10) if x%2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [251]:
numbers = [(x,y) for x in range(0,11) for y in range(20,31) if (x+y)%2 != 0]
print(numbers)

[(0, 21), (0, 23), (0, 25), (0, 27), (0, 29), (1, 20), (1, 22), (1, 24), (1, 26), (1, 28), (1, 30), (2, 21), (2, 23), (2, 25), (2, 27), (2, 29), (3, 20), (3, 22), (3, 24), (3, 26), (3, 28), (3, 30), (4, 21), (4, 23), (4, 25), (4, 27), (4, 29), (5, 20), (5, 22), (5, 24), (5, 26), (5, 28), (5, 30), (6, 21), (6, 23), (6, 25), (6, 27), (6, 29), (7, 20), (7, 22), (7, 24), (7, 26), (7, 28), (7, 30), (8, 21), (8, 23), (8, 25), (8, 27), (8, 29), (9, 20), (9, 22), (9, 24), (9, 26), (9, 28), (9, 30), (10, 21), (10, 23), (10, 25), (10, 27), (10, 29)]

In [257]:
numbers = [(x*y) for x in range(1,11) for y in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [261]:
tbl = [numbers[i*10:(i+1)*10] for i in range(0,10) ]
print(tbl)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [263]:
tbl1 = [numbers[i*5:(i+1)*5] for i in range(0,20) ]
print(tbl1)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [2, 4, 6, 8, 10], [12, 14, 16, 18, 20], [3, 6, 9, 12, 15], [18, 21, 24, 27, 30], [4, 8, 12, 16, 20], [24, 28, 32, 36, 40], [5, 10, 15, 20, 25], [30, 35, 40, 45, 50], [6, 12, 18, 24, 30], [36, 42, 48, 54, 60], [7, 14, 21, 28, 35], [42, 49, 56, 63, 70], [8, 16, 24, 32, 40], [48, 56, 64, 72, 80], [9, 18, 27, 36, 45], [54, 63, 72, 81, 90], [10, 20, 30, 40, 50], [60, 70, 80, 90, 100]]