In [17]:
import pandas as pd
import numpy as np

In [19]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
 columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [20]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [22]:
series = frame.iloc[0]
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [27]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [28]:
'''AoA;
Sorry for late submission as I promised this to be sent yesterday.
NUMPY ASSIGNMENT
Suppose you have a superstore which runs 24/7. Your tasks are to:
1) Create a dataset of the sale transactions of each day and each hour for the Month of January. Each row contains in the array should contain 23 records. Each index will represent total sale in that hour. e.g row 0 will contain the array of 23 transactions of Jan 1st. Now the 0 index of each row should contain the total sale made at 00:00 hours of respective date.
2) Calculate Daily Average Sale of this dataset
3) Calculate the Average Sale of each hour, so that you have insight of the busiest hour in the month.
4) Calculate the minimum and Maximum Sale of each day.
5) Calculate the Minimum and Maximum Sale of each hour.
6) Calculate Daily Cumulative Sum
7) Calculate Daily Total Sum
8) Use Boolean Indexing to search for records where sale is greater than a defined value, choose an appropriate value depending upon your dataset'''

'AoA;\nSorry for late submission as I promised this to be sent yesterday.\nNUMPY ASSIGNMENT\nSuppose you have a superstore which runs 24/7. Your tasks are to:\n1) Create a dataset of the sale transactions of each day and each hour for the Month of January. Each row contains in the array should contain 23 records. Each index will represent total sale in that hour. e.g row 0 will contain the array of 23 transactions of Jan 1st. Now the 0 index of each row should contain the total sale made at 00:00 hours of respective date.\n2) Calculate Daily Average Sale of this dataset\n3) Calculate the Average Sale of each hour, so that you have insight of the busiest hour in the month.\n4) Calculate the minimum and Maximum Sale of each day.\n5) Calculate the Minimum and Maximum Sale of each hour.\n6) Calculate Daily Cumulative Sum\n7) Calculate Daily Total Sum\n8) Use Boolean Indexing to search for records where sale is greater than a defined value, choose an appropriate value depending upon your dataset'

In [29]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [36]:
res = frame.apply(lambda x: print(x))

Utah      0.0
Ohio      3.0
Texas     6.0
Oregon    9.0
Name: b, dtype: float64
Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64
Utah       2.0
Ohio       5.0
Texas      8.0
Oregon    11.0
Name: e, dtype: float64